<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.exavalu.im.servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>com.exavalu.im.servlets.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>com.exavalu.im.servlets.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowOrders</servlet-name>
        <servlet-class>com.exavalu.im.servlets.ShowOrders</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Dashboard</servlet-name>
        <servlet-class>com.exavalu.im.servlets.Dashboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditOrder</servlet-name>
        <servlet-class>com.exavalu.im.servlets.EditOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveOrder</servlet-name>
        <servlet-class>com.exavalu.im.servlets.SaveOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowCustomers</servlet-name>
        <servlet-class>com.exavalu.im.servlets.ShowCustomers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCustomer</servlet-name>
        <servlet-class>com.exavalu.im.servlets.EditCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveCustomer</servlet-name>
        <servlet-class>com.exavalu.im.servlets.SaveCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowProducts</servlet-name>
        <servlet-class>com.exavalu.im.servlets.ShowProducts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProduct</servlet-name>
        <servlet-class>com.exavalu.im.servlets.EditProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveProduct</servlet-name>
        <servlet-class>com.exavalu.im.servlets.SaveProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowProductsForOrder</servlet-name>
        <servlet-class>com.exavalu.im.servlets.ShowProductsForOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductToCart</servlet-name>
        <servlet-class>com.exavalu.im.servlets.AddProductToCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>com.exavalu.im.servlets.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCart</servlet-name>
        <servlet-class>com.exavalu.im.servlets.ViewCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindCustomer</servlet-name>
        <servlet-class>com.exavalu.im.servlets.FindCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlaceOrder</servlet-name>
        <servlet-class>com.exavalu.im.servlets.PlaceOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindStates</servlet-name>
        <servlet-class>com.exavalu.im.servlets.FindStates</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowOrders</servlet-name>
        <url-pattern>/ShowOrders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Dashboard</servlet-name>
        <url-pattern>/Dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditOrder</servlet-name>
        <url-pattern>/EditOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveOrder</servlet-name>
        <url-pattern>/SaveOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowCustomers</servlet-name>
        <url-pattern>/ShowCustomers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCustomer</servlet-name>
        <url-pattern>/EditCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveCustomer</servlet-name>
        <url-pattern>/SaveCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowProducts</servlet-name>
        <url-pattern>/ShowProducts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProduct</servlet-name>
        <url-pattern>/EditProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveProduct</servlet-name>
        <url-pattern>/SaveProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowProductsForOrder</servlet-name>
        <url-pattern>/ShowProductsForOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductToCart</servlet-name>
        <url-pattern>/AddProductToCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCart</servlet-name>
        <url-pattern>/ViewCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindCustomer</servlet-name>
        <url-pattern>/FindCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlaceOrder</servlet-name>
        <url-pattern>/PlaceOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindStates</servlet-name>
        <url-pattern>/FindStates</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>loginPage.jsp</welcome-file>
    </welcome-file-list>
</web-app>
